:root {
    --vermelho: #E50914;
    --preto: #141414;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: var(--preto);
    font-family: sans-serif;
    color: #FFF;
}

header .container {
    display: flex;
    padding: 5px;
    align-items: center;
    justify-content: space-between;
}

header .container .logo {
    src: url('fonts/GOTHAM-BOOK.ttf');
    font-family: 'Gotham Book', Gotham-Book, sans-serif;
    font-size: 1.5rem;
    color: var(--vermelho);
    font-weight: 800;
}

header nav a {
    text-decoration: none;
    color: #AAA;
    margin-right: 10px;
}

header .container nav a:hover {
    color: #FFF;
}


/*Banner - Filme principal*/

.filme-principal {
    display: flex;
    flex-direction: column;
    background: linear-gradient(to right, rgba(0, 0, 0), rgba(0, 0, 0, 80%), rgba(0, 0, 0, 0)), url('/img/dPpEgtWstbdjHh6HiyRIvxUiq6a.jpg');
    height: 400px;
    background-size: cover;
    justify-content: center;
}

.filme-principal .titulo {
    font-size: 3rem;
}

.filme-principal .descricao {
    margin-bottom: 30px;
}

.filme-principal .botoes {
    margin: 10px;
}

.filme-principal .botoes .botao {
    background: rgba(0, 0, 0, 50%);
    border-radius: 8px;
    border: none;
    padding: 15px 28px;
    margin-right: 20px;
    color: #FFF;
    font-size: 12px;
    transition: .1s ease-in-out;
}

.filme-principal .botoes .botao:hover {
    background: #FFF;
    color: var(--preto);
}

.filme-principal .botoes .botao i {
    padding-right: 8px;
}

.filme-principal .container {
    margin-left: 30px;
    width: 60%;
}

.item .box-filme {
    width: 100%;
    height: 100%;
    display: block;
    margin-top: 20px;
}