:root {
    --vermelho: #E50914;
    --preto: #141414;
    --fonte: font-family:
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: var(--preto);
    font-family: 'Times New Roman', Times, serif;
}

header .container {
    border: 1px solid black;
}